
<!DOCTYPE html>
<html>
  <head>
    <title>E-Cart</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel='stylesheet' href='/stylesheets/cart.css' >  
	<link rel="stylesheet" type="text/css" href="semanticUI/semantic.min.css">

	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="semanticUI/semantic.min.js"></script>

	<style>
	.container{
	margin-top:50px;
	}
	</style>

</head>
<body>
	<% include ./Partials/header.ejs %>
	<div class="header">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div> 
</div>
	<div class="contain">
	<h1> Your Selected Books are Here!!!</h1>
		<div class="allBooks">
		  		<%bookArray.forEach(function(item){ %>
		  		<div class="eachbook">
			  			<h3> Title :<%=item.title%> ,</h3>
			  			<h4> Author :<%=item.author%>,</h4>	
			  			<h4> Publisher :<%=item.publisher%>, <h4>
			  			<h4> Semester :<%=item.semester%>, </h4>
			  			<p> Quantity Purchaased :<%=item.qtyPurchased%>, </p>	
			  			<p> Price :<%=item.price%>, </p>
			  			<a href="/update/<%=item.id%>" class="ui button red">Click To remove</a>
			  	</div>
			  	<%});%>	
				<h2> Total Price : <%=cost %> </h2>	  		
  <div id="paypal-button-container" class="ui huge button blue"> Pay </div>
		</div>
	</div>  	
</body>
</html>