
<!DOCTYPE html>
<html>
  <head>
    <title>E-Cart</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel='stylesheet' href='/stylesheets/cart.css' >  
	<link rel="stylesheet" type="text/css" href="semanticUI/semantic.min.css">

	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="semanticUI/semantic.min.js"></script>

	<style>
	.container{
	margin-top:50px;
	}
	</style>

</head>
<body>
	<% include ./Partials/header.ejs %>
	<div class="contain">
	<h1> Your Selected Books are Here!!!</h1>
		<div class="allBooks">
		  		<%bookArray.forEach(function(item){ %>
		  		<div class="eachbook">
		  				<% if (item.qty>0) { %>
			  			<h3> Title :  <%=item.item.title%> </h3>
			  			<h4> Author:  <%=item.item.author%></h4>	
			  			<h4> Publisher :  <%=item.item.publisher%> <h4>
			  			<h4> Semester :  <%=item.item.semester%> </h4>
			  			<p> Quantity Purchaased :  <%=item.qty%> </p>	
			  			<p> Price :  <%=item.item.price%>  </p>
			  			<a href="/update/<%=item.item.id%>" class="ui button red">Click To remove</a>
			  	</div>
			  			<% }  %>
			  	<%});%>	
			  	
 
				
				<form action="/pay" method="POST">
  			    
  			    <div class="ui left action input">
  			     <button onclick="submit" class="ui grey labeled icon large button">
				    Pay With PayPal
				  </button>
				  <input type="text" name="totalcost" value = <%=cost%> readonly >
				</div>
  				
				</form>
		</div>
	</div>  	
</body>
</html>